body{
    background-color: gray;
}
.container{
    text-align: center;
    margin: auto;
    width: 70%;
}

h1{
    font-size: 50px;
}

.reload{
    font-size: 40px;
    color:white ;
    background-color: rgb(189, 10, 10);
    width: 50px;
    margin-left: 500px;
    margin-top: 30px;
    border-radius: 15px;
    visibility: hidden;
}

.dice{
    display: inline-block;
    
}

p{
    font-size: 30px;
}

img{
    width: 70%;
}

.btm{
    width: 100px;
    margin-top: 50px;
    padding-top: 10px ;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: rgb(189, 10, 10);
    color: white;
    font-size: 20px;
}

button:hover{
    background-color: red;
}


/* additional class for js */
.output{
    font-size: 60px;
}

.visible{
    visibility:visible;
    
}

 /* mobile section */
 @media (max-width:420px){
   
    .container{
        width: 100%;
        margin-left: 100px;
    }
    .reload{
    margin-top: 70px;
    }
   .dice-flex{
        display: flex;
    }
    
    .btm{
        font-size: 50px;
        padding-left: 40px;
        padding-right: 120px;
        border-radius: 40px;

 }
    
    
